---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;
// logo
.narvbar-brand img {
  height: 100%; 
  width: auto;
  object-fit: contain; 
}

// custom image size on About page
.custom-image-size {
  max-width: 80%; 
  height: auto; 
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

// /* small size device */
// @media (max-width: 576px) {
//   .custom-image-size {
//       max-width: 100%; 
//   }
// }

// /* medium size device */
// @media (min-width: 577px) and (max-width: 992px) {
//   .custom-image-size {
//       max-width: 60%; 
//   }
// }

// /* large size devide */
// @media (min-width: 993px) {
//   .custom-image-size {
//       max-width: 40%; 
//   }
// }
// customize the profile div size
.profile {
  width: 50%; 
  margin: 0 auto; 
}

.profile-style {
  display: flex; 
  align-items: flex-start; 
  margin-bottom: 20px;
}

.image-container {
  flex: 1; 
}

.info-container {
  flex: 2; 
  margin-right: 20px; 
}

.img-circle {
  border-radius: 50%;
}


.image-container img {
  max-width: 100%;
  height: auto;
}

/* content padding in the people page */
.people_content {
  margin: 16px 0;
  font-weight: 400;
}

.lablogo_container {
  display: flex;
  align-items: center; 
  margin-bottom: 32px;
}

.lablogo_container img {
  height: 48px; 
  margin-right: 10px; 
  object-fit: cover; 
}

.post-title{
  text-transform: uppercase;
  font-weight: 600;
}


.post_img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_img img {
  width: 50%;
  display: block;
  margin: 0 auto;
}